body{
    background-image: url(https://img.freepik.com/vector-premium/fondo-borroso-gris-claro-blanco-degradado-radial_53562-6788.jpg);
    background-size: cover;
    background-attachment: fixed;
}
